# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/all/themes/mytheme/css/style1.css~
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
database/


settings.*

sites/defaults/files/*
